<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JCC Agenda</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF3PyWSf5imANfClhmeP2BjdI7uLIZBtI&callback=initMap&libraries=geometry,places&v=weekly"
  async
  defer
></script>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="nav-links">
      <a href="#about">About</a>
      <a href="#schedule">Schedule</a>
      <a href="#sponsors">Sponsors</a>
      <a href="#faq">FAQ</a>
      <a href="#pricing">Pricing</a>
    </div>
    <div>
    <button onclick="window.location.href='signup.html';" class="signup-button">Sign Up</button>
    <button onclick="window.location.href='login.html';" class="signup-button">Login</button>
     </div> 
  </nav>

  <!-- Hero Section -->
  <header class="hero">
    <img src="../static/images/jcc.png" class="jccolgo">
    <div class="hero-content" >
      <h1>JCC AGENDA</h1>
      <p class="subtitle">JOURNÉES CINÉMATOGRAPHIQUES DE CARTHAGE</p>
      <p class="description">An annual event that takes place in and was founded in 1966</p>
      <div class="vertical-layout">
        <button href="#venues" class="btn" onclick="fetchVenueData()">Check Our Venues</button>
      </div>
    </div>
  </header>
  <div  id="map"></div> 
  <p class="subtitle" id="movies">What's Playing Today? Discover our Movies Near You!</p>
  <form class="form-container" >
    <label for="dateInput">Date:</label>
    <input   min="2024-12-14" max="2024-12-21"   type="date" id="dateInput" name="date" required />

    <label for="venueInput">Venue:</label>
    <select id="venueInput" name="venue_id" >
      <option value="" disabled selected>Select a venue</option>
      <option value="L'OPERA">L'OPERA</option>
      <option value="THEATRE DES REGIONS">THEATRE DES REGIONS</option>
      <option value="LE 4EME ART">LE 4EME ART</option>
      <option value="ABC">ABC</option>
      <option value="LE RIO">LE RIO</option>
      <option value="OMAR KHELIFI">OMAR KHELIFI</option>
      <option value="THAER CHERIAA">THAER CHERIAA</option>
      <option value="AFRICA">AFRICA</option>
      <option value="LE COLISIEE">LE COLISIEE</option>
      <option value="IBN RACHIQ">IBN RACHIQ</option>
      <option value="LE PALACE">LE PALACE</option>
      <option value="LE MONDIAL">LE MONDIAL</option>
      <option value="PARNASSE">PARNASSE</option>
      <option value="CINE AVENUE">CINE AVENUE</option>
      <option value="ELHAMBRA ZEPHYR">ELHAMBRA ZEPHYR</option>
      <option value="MAD'ART">MAD'ART</option>
      <option value="AGORA">AGORA</option>
      <option value="CINEVOG">CINEVOG</option>
      <option value="AMILCAR">AMILCAR</option>
      <option value="DAR MASRAHI">DAR MASRAHI</option>
      <option value="pathé ksibet">pathé ksibet</option>
    </select>
    
    <label for="hourInput">Hour:</label>
    <input type="time" id="hourInput" name="hour" required />

    <label for="movieNameInput">Movie Name:</label>
    <input type="text" id="movieNameInput" name="movie_or_programme_name" placeholder="Enter movie name"  />

    <button type="button" onclick="fetchAgendaData()">Submit</button>
  </form>
  <div  id="map2"></div> 

  <footer class="footer">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="footer-col">
          <h4>About JCC Tunisia</h4>
          <ul>
            <li><a href="#">Our History</a></li>
            <li><a href="#">Mission & Vision</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <!-- Get Help Section -->
        <div class="footer-col">
          <h4>Get Help</h4>
          <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Tickets & Pricing</a></li>
            <li><a href="#">Event Schedule</a></li>
            <li><a href="#">Accessibility</a></li>
          </ul>
        </div>
        <!-- Explore Section -->
        <div class="footer-col">
          <h4>Explore</h4>
          <ul>
            <li><a href="#">Agendas</a></li>
            <li><a href="#">Venues</a></li>
            <li><a href="#">Workshops</a></li>
            <li><a href="#">Sponsors</a></li>
          </ul>
        </div>
        <!-- Follow Us Section -->
        <div class="footer-col">
          <h4>Follow Us</h4>
          <div class="social-links">
            <img src="../static/images/fb.png" id="icon" alt="Facebook">
            <img src="../static/images/li.png" id="icon" alt="LinkedIn">
            <img src="../static/images/x.png" id="icon" alt="Twitter">
            <img src="../static/images/ig.png" id="icon" alt="Instagram">
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  
  <script>
    let map;

    let infoWindow;
    let map2;

    let infoWindow2;
    const style={
      default: [],
      retro: [
    { elementType: "geometry", stylers: [{ color: "#ebe3cd" }] },
    { elementType: "labels.text.fill", stylers: [{ color: "#523735" }] },
    {
      elementType: "labels.text.stroke",
      stylers: [{ color: "#f5f1e6" }],
    },
    {
      featureType: "administrative",
      elementType: "geometry.stroke",
      stylers: [{ color: "#c9b2a6" }],
    },
    {
      featureType: "administrative.land_parcel",
      elementType: "geometry.stroke",
      stylers: [{ color: "#dcd2be" }],
    },
    {
      featureType: "administrative.land_parcel",
      elementType: "labels.text.fill",
      stylers: [{ color: "#ae9e90" }],
    },
    {
      featureType: "landscape.natural",
      elementType: "geometry",
      stylers: [{ color: "#dfd2ae" }],
    },
    {
      featureType: "poi",
      elementType: "geometry",
      stylers: [{ color: "#dfd2ae" }],
    },
    {
      featureType: "poi",
      elementType: "labels.text.fill",
      stylers: [{ color: "#93817c" }],
    },
    {
      featureType: "poi.park",
      elementType: "geometry.fill",
      stylers: [{ color: "#a5b076" }],
    },
    {
      featureType: "poi.park",
      elementType: "labels.text.fill",
      stylers: [{ color: "#447530" }],
    },
    {
      featureType: "road",
      elementType: "geometry",
      stylers: [{ color: "#f5f1e6" }],
    },
    {
      featureType: "road.arterial",
      elementType: "geometry",
      stylers: [{ color: "#fdfcf8" }],
    },
    {
      featureType: "road.highway",
      elementType: "geometry",
      stylers: [{ color: "#f8c967" }],
    },
    {
      featureType: "road.highway",
      elementType: "geometry.stroke",
      stylers: [{ color: "#e9bc62" }],
    },
    {
      featureType: "road.highway.controlled_access",
      elementType: "geometry",
      stylers: [{ color: "#e98d58" }],
    },
    {
      featureType: "road.highway.controlled_access",
      elementType: "geometry.stroke",
      stylers: [{ color: "#db8555" }],
    },
    {
      featureType: "road.local",
      elementType: "labels.text.fill",
      stylers: [{ color: "#806b63" }],
    },
    {
      featureType: "transit.line",
      elementType: "geometry",
      stylers: [{ color: "#dfd2ae" }],
    },
    {
      featureType: "transit.line",
      elementType: "labels.text.fill",
      stylers: [{ color: "#8f7d77" }],
    },
    {
      featureType: "transit.line",
      elementType: "labels.text.stroke",
      stylers: [{ color: "#ebe3cd" }],
    },
    {
      featureType: "transit.station",
      elementType: "geometry",
      stylers: [{ color: "#dfd2ae" }],
    },
    {
      featureType: "water",
      elementType: "geometry.fill",
      stylers: [{ color: "#b9d3c2" }],
    },
    {
      featureType: "water",
      elementType: "labels.text.fill",
      stylers: [{ color: "#92998d" }],
    },
  ],
};
    // Initialize the map
    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 35.68814709583306, lng: 10.842432674245234 }, // Default location
        zoom: 12,
      });

      map.setOptions({ styles: style["retro"] });

      infoWindow = new google.maps.InfoWindow();
   
      map2 = new google.maps.Map(document.getElementById("map2"), {
        center: { lat: 35.68814709583306, lng: 10.842432674245234 }, // Default location
        zoom: 12,
      });

      map2.setOptions({ styles: style["retro"] });

      infoWindow2 = new google.maps.InfoWindow();
    }

    // Fetch agenda data from the API
    async function fetchVenueData() {
      // const agendaId = document.getElementById("agendaIdInput").value;
      // if (!agendaId) {
      //   alert("Please enter an Agenda ID.");
      //   return;
      // }
      event.preventDefault();
      try {
        const response = await fetch(`http://127.0.0.1:5000/Venue`);
        if (!response.ok) {
          throw new Error(`Agenda with ID \${agendaId} not found.`);
        }

        const agendaData = await response.json();
        const agendas = agendaData.Venues || [];

        displayVenueOnMap(agendas);
      } catch (error) {
        alert(error.message);
      }
    }

    // Display the agenda location on the map
    function displayVenueOnMap(agendas) {
agendas.forEach(agenda => {
  const { name, address, latitude, longitude } = agenda;
  
  // Check if location is available
  if (!latitude || !longitude) {
    alert("Location not available for one of the agendas.");
    return;
  }

  const location = { lat: latitude, lng: longitude };

  // Create a marker for the agenda on the map
  const marker = new google.maps.Marker({
    position: location,
    map: map,
    title: name,
  });

  const content = `
    <div style="padding: 8px">
      <h2 style="margin-top: 0">${name}</h2>
      <p>${address}</p>
    </div>
  `;

  // Add an info window that appears when the marker is clicked
  marker.addListener('click', () => {
    infoWindow.setContent(content);
    infoWindow.open(map, marker);
  });

  // Optionally, adjust map center and zoom level based on the last agenda
  map.setCenter(location);
  map.setZoom(8);
});
}


    async function fetchAgendaData() {
      event.preventDefault();
    const date = document.getElementById("dateInput").value;
    const venue_id = document.getElementById("venueInput").value;
    const hour = document.getElementById("hourInput").value;
    const movie_or_programme_name = document.getElementById("movieNameInput").value;
    const requestBody = {
                            date,
                            hour,
                            };

  if (venue_id) {
    requestBody.venue_id = venue_id; // Add venue_id only if it's not empty
  }

  if (movie_or_programme_name) {
    requestBody.movie_or_programme_name = movie_or_programme_name; // Add movie_or_programme_name only if it's not empty
    }
        console.log(date,hour);
    const response = await fetch(`http://127.0.0.1:5000/agenda/date`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },                
                body: JSON.stringify(requestBody),
                });
                console.log("fetched")
  if (!response.ok) {
          throw new Error(`no available movies/programs`);
        }
      const agendaData = await response.json();
      const agendas = agendaData.agendas || [];
      console.log(agendas)
      displayMoviesOnMap(agendas);

}
    function displayMoviesOnMap(agendas) {
  agendas.forEach(agenda => {
  const { date, hour, latitude, longitude,movie_or_programme_name,venue_id } = agenda;
  
  // Check if location is available
  if (!latitude || !longitude) {
    alert("Location not available for one of the movies.");
    return;
  }

  const location2 = { lat: latitude, lng: longitude };

  // Create a marker for the agenda on the map
  const marker2 = new google.maps.Marker({
    position: location2,
    map: map2,
    title: venue_id,
    
  });

  const content = `
    <div style="padding: 8px">
      <h1 style="margin-top: 0">${venue_id}</h1>
      <h2 style="margin-top: 0">${date} at ${hour} </h2>
      <p>${movie_or_programme_name}</p>
    </div>
  `;

  // Add an info window that appears when the marker is clicked
  marker2.addListener('click', () => {
    infoWindow2.setContent(content);
    infoWindow2.open(map2, marker2);
  });

  // Optionally, adjust map center and zoom level based on the last agenda
  map2.setCenter(location2);
  map2.setZoom(8);
});
}


  </script>
</body>
</html>
